body,
textarea,
input {
    font: 13px "Trebuchet MS", sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.chat {
    max-width:500px;
}

.chat-messages,
.chat-text-area,
.chat-name {
    border:1px solid #bbb
}

.chat-messages {
    width:100%;
    height: 300px;
    /*If there is too much content, then overflow*/
    overflow-y:scroll;
    padding: 10px;
}

.chat-message {
    margin-bottom:10px;
}

.chat-name {
    width:100%;
    padding: 10px;
    border-bottom: 0;
    margin: 0;
}

.chat textarea {
    width:100%;
    padding:10px;
    margin:0;
    border-top:0;
    /*Cannot drag the box horizontally*/
    max-width: 100%

}

.chat-status {
    color:#bbb;
}
